<!-- https://codepen.io/veronicadev/pen/YYvjzO -->
<div class="homeContainer">
  <div class="site">
    <h1 class="site__title">Fast paced way to manage your business</h1>
    <h2 class="site__subtitle">Manage analytics like a boss</h2>
    <div class="site__box-link">
    <% if logged_in? && is_admin?%>
      <a class="btn btn--width" href="<%=signup_path%>">Add User</a>
    <% end %>
      <% if !logged_in? %>
        <a class="btn btn--width btn_signin" href="<%=login_path%>">Log In</a>
      <%end%>
    </div>
    <img class="site__img" src="https://image.ibb.co/c7grYb/image3015.png">
  </div>
</div>
